body {
    background-color: rgb(22, 20, 20);
    margin: 0;
    overflow-x: hidden;
}
.App-header {
    width: 100vw;
    height: 15vh;
    align-items: center;
    display: flex;
    flex-direction: row;
    padding: 5px 20px;
    justify-content: space-between;
    box-sizing: border-box;
    background-color: red;
}
@font-face {
  font-family: 'Flamengo021';
  src: url('../assets/Flamengo021.ttf') format('truetype');
}
.App-header-text {
     font-family: 'Flamengo021';
     color: white;
     font-size: 2vw;
}
.App-mid {
    height: 85vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.App-mid-left {
    height: 100%;
    max-width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.App-mid-left-top {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
}
@media (orientation: portrait) {
    .App-mid {
        flex-direction: column;
    }
    .App-mid-left-box {
        min-width: 45%;
    }
    .App-mid-left {
        min-width: 100vw;
        background-color: antiquewhite;
    }
    .App-header {
        height: auto;
        max-height: 7vh;
    }
    .App-header-text {
        font-size: 4vw;
    }

}

.App-mid-left-box {
    height: 30vh;
    width: 15vw;
    background-color: rgba(51, 38, 38, 0.548);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-radius: 10%;
    padding: 1vh 1vW;
    box-sizing: border-box;
    border: 1px solid rgba(80, 62, 62, 0.377);
    margin: 10px;
    transition: transform 0.2s ease-out, background-color 0.2s ease-out;
}
.App-imgFla {
    transition: transform 0.2s ease;
}
.App-imgFla:hover {
    transform: scale(1.1);
}
.App-button {
    width: 10vw;
    height: 7vh;
    border-radius: 10%;
    background-color: rgba(51, 38, 38, 0.548);
    color: red;
    transition: transform 0.2s ease-out, background-color 0.2s ease-out;
    align-items: center;
    display: flex;
    justify-content: center;
    border: 1px solid rgba(80, 62, 62, 0.377);
    cursor: pointer;
}
.App-button:hover {
    transform: translateY(-5px);
    background-color:  rgba(82, 61, 61, 0.548);
}
.App-mid-left-box:hover {
    transform: translateY(-5px);
    background-color:  rgba(82, 61, 61, 0.548);
}
.App-mid-mid {
    display: flex;
    justify-content: center;
    gap: 1vh;
    flex-direction: column;
    align-items: center;
    max-width: 15vw;
    height: 100%;
    
}
.line {
    width: 5px;              
    background-color: rgba(255, 0, 0, 0.466);
    height: 15%;   
}
.App-mid-box-vs {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  object-fit: contain;
  width: 100%;
  max-height: 80%;
}